*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #030615;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100vh;
  display: flex;
  display: relative;
}

.bgimage{
  width: 100%;
  height: 100%;
  flex: 1;
  object-fit: cover;
}

.imgcontainer{
  display: flex;
  flex-direction: column;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 1rem;
}

footer h2{
  font-size: 1.4rem;
}

footer h1{
  font-size: 0.9rem;
  font-weight: 100;
}

footer div{
  display: flex;
  flex-direction: column;
}

footer button{
  background: transparent;
  border: none;
  outline: none;
  color: white;
  padding: 1rem;
  transition-duration: 2000ms;
  cursor: pointer;
}

footer button i{
  font-size: 1.3rem;
}

footer button:hover{
  opacity: 0.7;
}

.bggradient{
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: linear-gradient(to top, #030615, rgba(255, 255, 255, 0));
}

.sidebar{
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.bgoverlay{
  position: absolute;
  inset: 0;
   background: #030615;
   opacity: 0.6;
}

.sidebarconatents{
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  /* overflow-: scroll; */
  height: 100%;
  width: 90%;
  /* max-height: 600px; */
  max-width: 800px;
  margin-left: auto;
  background-color: #030615
}

.sidebarconatents h2{
  font-weight: 200;
  font-size: 1.4rem;
}

.discription{
  font-size: 1.1em;
  font-weight: 200;
}

.dicriptioncontainer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebarconatents div{
  flex: 1;
}

.sidebarconatents button{
  background: transparent;
  color: white;
  border: none;
  outline: none;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 200ms;
  padding: 1rem;
  padding: 1rem 0;
}

.sidebarconatents button:hover{
  opacity: 0.7;
}

.loadingsate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.loadingsate i{
  opacity: 0.2;
  font-size: 3rem;
  animation: spin 3s linear infinite;
}

@keyframes spin{
  from{
    transform:rotate(0deg);
  } to{
    transform:rotate(360deg);
  }
}

@media (min-width: 640px){
  .sidebar{
    position: relative;
    inset: unset;
    min-width: 30%;
    box-shadow: 0 0 40px 1px #030615;
  }

  .sidebarconatents{
    margin: unset;
  }
}